<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="net.sourceforge.eclipseccase.3"
   name="Clearcase Plugin Eclipse 3 Extensions"
   version="0.9.10"
   provider-name="eclipse-ccase.sourceforge.net"
   class="">

   <runtime>
      <library name="clearcase-3.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="net.sourceforge.eclipseccase.ui"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.compare"/>
   </requires>


   <extension
         point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            label="Clearcase Predecessor"
            class="net.sourceforge.eclipseccase.PredecessorQuickDiff"
            id="net.sourceforge.eclipseccase.predecessorQuickDiff">
      </referenceprovider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            id="net.sourceforge.eclipseccase.popups.BuiltIn">
         <action
               label="Predecessor"
               class="net.sourceforge.eclipseccase.compare.CompareWithPredecessorInternalAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="net.sourceforge.eclipseccase.popups.internalcomparepredecessor">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Clearcase"
            visible="true"
            id="net.sourceforge.eclipseccase.ui.actionset">
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.internalcomparepredecessor"
               label="Compare with &amp;predecessor (Internal)"
               class="net.sourceforge.eclipseccase.compare.CompareWithPredecessorInternalAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.internalcomparepredecessor">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Compare with Predecessor (Internal)"
            category="net.sourceforge.eclipseccase.category"
            description="Uses the eclipse compare api to compare the selected resource with its clearcase predecessor"
            id="net.sourceforge.eclipseccase.ui.actionset.internalcomparepredecessor">
      </command>
      <keyBinding
            string="Alt+C Alt+P"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.internalcomparepredecessor"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>

</plugin>
