<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.eclipseccase"
   name="%pluginName"
   version="2.0.0.dev1"
   provider-name="%providerName"
   class="net.sourceforge.eclipseccase.ClearcasePlugin">

   <runtime>
      <library name="eclipseccase.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.team.core" export="true"/>
      <import plugin="net.sourceforge.clearcase" export="true"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="net.sourceforge.eclipseccase.ClearcaseProvider"
            id="net.sourceforge.eclipseccase.ClearcaseProvider">
      </repository>
   </extension>

</plugin>
