<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="net.sourceforge.eclipseccase"
   name="Clearcase Plugin"
   version="0.9.6"
   provider-name="Matt Conway"
   class="net.sourceforge.eclipseccase.ClearcasePlugin">

   <runtime>
      <library name="eclipseccase.jar">
         <packages prefixes="net.sourceforge.eclipseccase"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="net.sourceforge.clearcase"/>
   </requires>


   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="net.sourceforge.eclipseccase.ClearcaseProvider"
            id="net.sourceforge.eclipseccase.ClearcaseProvider">
      </repository>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Clearcase"
            category="org.eclipse.team.ui.TeamPreferences"
            class="net.sourceforge.eclipseccase.ClearcasePreferencePage"
            id="net.sourceforge.eclipseccase.ClearcasePreferencePage">
      </page>
      <page
            name="Label Decorations"
            category="net.sourceforge.eclipseccase.ClearcasePreferencePage"
            class="net.sourceforge.eclipseccase.DecoratorPreferencePage"
            id="net.sourceforge.eclipseccase.DecoratorPreferencePage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            label="Clearcase Decorator"
            state="false"
            class="net.sourceforge.eclipseccase.ui.ClearcaseDecorator"
            id="net.sourceforge.eclipseccase.ui.decorator">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="net.sourceforge.eclipseccase.popups.Associate">
         <action
               label="Dissociate from clearcase"
               class="net.sourceforge.eclipseccase.actions.DissociateProjectAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.dissociate">
               <enablement>
               		<and>
 	               		<objectState name="open" value="true"/>
						<objectState name="projectPersistentProperty" value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               		</and>
               </enablement>
         </action>
          <action
               label="Associate with clearcase"
               class="net.sourceforge.eclipseccase.actions.AssociateProjectAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.associate">
               <enablement>
               		<and>
	               		<objectState name="open" value="true"/>
	               		<not>
		               		<objectState name="projectPersistentProperty" value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
		               	</not>
	               	</and>
              </enablement>
         </action>
         <action
               label="Activate clearcase plugin"
               class="net.sourceforge.eclipseccase.actions.ActivatePluginAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.activate">
		         <enablement>
		         	<not>
			            <pluginState id="net.sourceforge.eclipseccase" value="activated"/>
			        </not>
		         </enablement>
          </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="net.sourceforge.eclipseccase.popups.BuiltIn">
         <visibility>
         	<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
         </visibility>
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
         </filter>
        <action
               label="Uncheckout"
               class="net.sourceforge.eclipseccase.actions.UndoCheckOutAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.uncheckout">
         </action>
         <action
               label="Checkin"
               class="net.sourceforge.eclipseccase.actions.CheckInAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.checkin">
         </action>
         <action
               label="Refresh State"
               class="net.sourceforge.eclipseccase.actions.RefreshStateAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.refresh">
         </action>
         <action
               label="Refresh State (Quick)"
               class="net.sourceforge.eclipseccase.actions.RefreshStateQuickAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.refreshquick">
         </action>
         <action
               label="Checkout"
               class="net.sourceforge.eclipseccase.actions.CheckOutAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.checkout">
         </action>
         <action
               label="Update"
               class="net.sourceforge.eclipseccase.actions.UpdateAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.update">
         </action>
         <action
               label="Add"
               class="net.sourceforge.eclipseccase.actions.AddToClearcaseAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.add">
         </action>
         <action
               label="Delete"
               class="net.sourceforge.eclipseccase.actions.DeleteAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.delete">
         </action>
         <action
               label="Version Tree"
               class="net.sourceforge.eclipseccase.actions.VersionTreeAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.versiontree">
         </action>
         <action
               label="Update (External)"
               class="net.sourceforge.eclipseccase.actions.ExternalUpdateAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.externalupdate">
         </action>
         <action
               label="History"
               class="net.sourceforge.eclipseccase.actions.HistoryAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.history">
         </action>
         <action
               label="Compare with predecessor"
               class="net.sourceforge.eclipseccase.actions.CompareWithPredecessorAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.comparepredecessor">
         </action>
         <action
               label="Predecessor"
               class="net.sourceforge.eclipseccase.actions.CompareWithPredecessorInternalAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="net.sourceforge.eclipseccase.popups.internalcomparepredecessor">
         </action>
         <action
               label="Find checkouts"
               class="net.sourceforge.eclipseccase.actions.FindCheckOutsAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.findcheckouts">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Clearcase"
            visible="true"
            id="net.sourceforge.eclipseccase.actionset">
		<menu id="eclipseccase_menu"
			label="&amp;Clearcase"> 
			<separator name="projectGroup"/>
			<separator name="group1"/>
			<separator name="group2"/>
			<separator name="group3"/>
		</menu>
		<action
               label="Dissociat&amp;e project"
               class="net.sourceforge.eclipseccase.actions.DissociateProjectAction"
               menubarPath="eclipseccase_menu/projectGroup"
               definitionId="net.sourceforge.eclipseccase.actionset.dissociate"
               id="net.sourceforge.eclipseccase.actionset.dissociate">
               <enablement>
               		<and>
 	               		<objectState name="open" value="true"/>
						<objectState name="projectPersistentProperty" value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               		</and>
               </enablement>
		</action>
		<action
               label="A&amp;ssociate project"
               class="net.sourceforge.eclipseccase.actions.AssociateProjectAction"
               menubarPath="eclipseccase_menu/projectGroup"
               definitionId="net.sourceforge.eclipseccase.actionset.associate"
               id="net.sourceforge.eclipseccase.actionset.associate">
               <enablement>
               		<and>
	               		<objectState name="open" value="true"/>
	               		<not>
		               		<objectState name="projectPersistentProperty" value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
		               	</not>
	               	</and>
              </enablement>
		</action>
		<action
               label="Activate p&amp;lugin"
               class="net.sourceforge.eclipseccase.actions.ActivatePluginAction"
               menubarPath="eclipseccase_menu/projectGroup"
               id="net.sourceforge.eclipseccase.actionset.activate">
               <enablement>
               		<not>
	               		<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
	               	</not>
              </enablement>
		</action>

         <action
               label="Upda&amp;te"
               class="net.sourceforge.eclipseccase.actions.UpdateAction"
               menubarPath="eclipseccase_menu/group1"
               definitionId="net.sourceforge.eclipseccase.actionset.update"
               id="net.sourceforge.eclipseccase.actionset.update">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="&amp;Delete"
               class="net.sourceforge.eclipseccase.actions.DeleteAction"
               menubarPath="eclipseccase_menu/group1"
               definitionId="net.sourceforge.eclipseccase.actionset.delete"
               id="net.sourceforge.eclipseccase.actionset.delete">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="&amp;Add"
               class="net.sourceforge.eclipseccase.actions.AddToClearcaseAction"
               menubarPath="eclipseccase_menu/group1"
               definitionId="net.sourceforge.eclipseccase.actionset.add"
               id="net.sourceforge.eclipseccase.actionset.add">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="Compare with &amp;predecessor (Internal)"
               class="net.sourceforge.eclipseccase.actions.CompareWithPredecessorInternalAction"
               menubarPath="eclipseccase_menu/group2"
               definitionId="net.sourceforge.eclipseccase.actionset.internalcomparepredecessor"
               id="net.sourceforge.eclipseccase.actionset.internalcomparepredecessor">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="&amp;Refresh State"
               class="net.sourceforge.eclipseccase.actions.RefreshStateAction"
               menubarPath="eclipseccase_menu/group1"
               definitionId="net.sourceforge.eclipseccase.actionset.refresh"
               id="net.sourceforge.eclipseccase.actionset.refresh">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="Refresh State (&amp;Quick)"
               class="net.sourceforge.eclipseccase.actions.RefreshStateQuickAction"
               menubarPath="eclipseccase_menu/group1"
               definitionId="net.sourceforge.eclipseccase.actionset.refreshquick"
               id="net.sourceforge.eclipseccase.actionset.refreshquick">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
		<action
               label="&amp;Uncheckout"
               class="net.sourceforge.eclipseccase.actions.UndoCheckOutAction"
               menubarPath="eclipseccase_menu/group1"
               definitionId="net.sourceforge.eclipseccase.actionset.uncheckout"
               id="net.sourceforge.eclipseccase.actionset.uncheckout">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
		</action>
         <action
               label="Check&amp;in"
               class="net.sourceforge.eclipseccase.actions.CheckInAction"
               menubarPath="eclipseccase_menu/group1"
               definitionId="net.sourceforge.eclipseccase.actionset.checkin"
               id="net.sourceforge.eclipseccase.actionset.checkin">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="Check&amp;out"
               class="net.sourceforge.eclipseccase.actions.CheckOutAction"
               menubarPath="eclipseccase_menu/group1"
               definitionId="net.sourceforge.eclipseccase.actionset.checkout"
               id="net.sourceforge.eclipseccase.actionset.checkout">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="Update (E&amp;xternal)"
               class="net.sourceforge.eclipseccase.actions.ExternalUpdateAction"
               menubarPath="eclipseccase_menu/group2"
               definitionId="net.sourceforge.eclipseccase.actionset.externalupdate"
               id="net.sourceforge.eclipseccase.actionset.externalupdate">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="&amp;Find checkouts"
               class="net.sourceforge.eclipseccase.actions.FindCheckOutsAction"
               menubarPath="eclipseccase_menu/group2"
               definitionId="net.sourceforge.eclipseccase.actionset.findcheckouts"
               id="net.sourceforge.eclipseccase.actionset.findcheckouts">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="&amp;History"
               class="net.sourceforge.eclipseccase.actions.HistoryAction"
               menubarPath="eclipseccase_menu/group2"
               definitionId="net.sourceforge.eclipseccase.actionset.history"
               id="net.sourceforge.eclipseccase.actionset.history">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="&amp;Version Tree"
               class="net.sourceforge.eclipseccase.actions.VersionTreeAction"
               menubarPath="eclipseccase_menu/group2"
               definitionId="net.sourceforge.eclipseccase.actionset.versiontree"
               id="net.sourceforge.eclipseccase.actionset.versiontree">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
         <action
               label="&amp;Compare with predecessor"
               class="net.sourceforge.eclipseccase.actions.CompareWithPredecessorAction"
               menubarPath="eclipseccase_menu/group2"
               definitionId="net.sourceforge.eclipseccase.actionset.comparepredecessor"
               id="net.sourceforge.eclipseccase.actionset.comparepredecessor">
               <enablement>
           			<pluginState id="net.sourceforge.eclipseccase" value="activated"/>
               </enablement>
         </action>
      </actionSet>
   </extension>
   
	<extension
         point="org.eclipse.ui.commands">
		<category
			name="Clearcase"
			description="Clearcase actions"
			id="net.sourceforge.eclipseccase.category">
		</category>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Associate"
		    description="Associates the selected project with the clearcase plugin"
		    id="net.sourceforge.eclipseccase.actionset.associate">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+S"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.associate"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Dissociate"
		    description="Dissociates the selected project from the clearcase plugin"
		    id="net.sourceforge.eclipseccase.actionset.dissociate">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+E"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.dissociate"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Uncheckout"
		    description="Cancels the checkout for the selected resources"
		    id="net.sourceforge.eclipseccase.actionset.uncheckout">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+U"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.uncheckout"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Checkin"
		    description="Checks in th selected resources"
		    id="net.sourceforge.eclipseccase.actionset.checkin">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+I"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.checkin"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Refresh"
		    description="Refreshes eclipse's cache of the resource's clearcase state"
		    id="net.sourceforge.eclipseccase.actionset.refresh">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+R"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.refresh"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Refresh Quick"
		    description="Quickly refreshes eclipse's cache of the resource's clearcase state"
		    id="net.sourceforge.eclipseccase.actionset.refreshquick">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+Q"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.refreshquick"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Checkout"
		    description="Checks out the selected resources"
		    id="net.sourceforge.eclipseccase.actionset.checkout">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+O"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.checkout"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Update"
		    description="Updates the seletced resources (Static view only)"
		    id="net.sourceforge.eclipseccase.actionset.update">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+T"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.update"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Add"
		    description="Adds the selected resources to clearcase"
		    id="net.sourceforge.eclipseccase.actionset.add">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+A"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.add"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Delete"
		    description="Removes the selected resources from clearcase"
		    id="net.sourceforge.eclipseccase.actionset.delete">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+D"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.delete"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Version Tree"
		    description="Opens the clearcase version tree browser on the slected resources (external tool)"
		    id="net.sourceforge.eclipseccase.actionset.versiontree">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+V"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.versiontree"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Update (External)"
		    description="Updates the selected resources (external tool)"
		    id="net.sourceforge.eclipseccase.actionset.externalupdate">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+X"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.externalupdate"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="History"
		    description="Opens the clearcase hostory browser on the selected resources (external tool)"
		    id="net.sourceforge.eclipseccase.actionset.history">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+H"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.history"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Compare with predecessor"
		    description="Opens the clearcase compare with predecessor tool on the selected resources (external tool)"
		    id="net.sourceforge.eclipseccase.actionset.comparepredecessor">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+C"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.comparepredecessor"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Compare with Predecessor (Internal)"
		    description="Uses the eclipse compare api to compare the selected resource with its clearcase predecessor"
		    id="net.sourceforge.eclipseccase.actionset.internalcomparepredecessor">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+P"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.internalcomparepredecessor"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
		<command
			category="net.sourceforge.eclipseccase.category"
		    name="Find Checkouts"
		    description="Opens the clearcase find checkouts tool on the selected resource (external tool)"
		    id="net.sourceforge.eclipseccase.actionset.findcheckouts">
		</command>
		<keyBinding
		      string="Ctrl+C Ctrl+F"
		      scope="org.eclipse.ui.globalScope"
		      command="net.sourceforge.eclipseccase.actionset.findcheckouts"
		      configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
		</keyBinding>
	</extension>


   <extension
         point="org.eclipse.ui.views">
      <view
            name="Clearcase Checkouts"
            icon="../org.eclipse.team.ui/icons/full/clcl16/contents.gif"
            category="org.eclipse.team.ui"
            class="net.sourceforge.eclipseccase.views.CheckoutsView"
            id="net.sourceforge.eclipseccase.views.CheckoutsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            name="Clearcase Element Properties"
            class="net.sourceforge.eclipseccase.ElementPropertyPage"
            id="net.sourceforge.eclipseccase.elementPropertyPage">
      </page>
   </extension>

</plugin>
