<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.team.core.repository">
      <repository
            canImportId="net.sourceforge.eclipseccase.ClearcaseProvider"
            class="net.sourceforge.eclipseccase.ClearCaseProvider"
            id="net.sourceforge.eclipseccase.ClearCaseProvider">
      </repository>
   </extension>

</plugin>
