<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="net.sourceforge.eclipseccase.ui"
   name="Clearcase Plugin UI"
   version="0.9.10"
   provider-name="eclipse-ccase.sourceforge.net"
   class="net.sourceforge.eclipseccase.ui.ClearcaseUI">

   <runtime>
      <library name="clearcase-ui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="net.sourceforge.eclipseccase" export="true"/>
      <import plugin="org.eclipse.team.ui" export="true"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>


   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="net.sourceforge.eclipseccase.popups.Associate">
         <action
               label="Dissociate from clearcase"
               class="net.sourceforge.eclipseccase.ui.actions.DissociateProjectAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.dissociate">
            <enablement>
               <and>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Associate with clearcase"
               class="net.sourceforge.eclipseccase.ui.actions.AssociateProjectAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.associate">
            <enablement>
               <and>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <not>
                     <objectState
                           name="projectPersistentProperty"
                           value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
                     </objectState>
                  </not>
               </and>
            </enablement>
         </action>
         <action
               label="Activate clearcase plugin"
               class="net.sourceforge.eclipseccase.ui.actions.ActivatePluginAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.activate">
            <enablement>
               <not>
                  <pluginState
                        value="activated"
                        id="net.sourceforge.eclipseccase">
                  </pluginState>
               </not>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="net.sourceforge.eclipseccase.popups.BuiltIn">
         <visibility>
            <pluginState
                  value="activated"
                  id="net.sourceforge.eclipseccase">
            </pluginState>
         </visibility>
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
         </filter>
         <action
               label="Uncheckout"
               class="net.sourceforge.eclipseccase.ui.actions.UndoCheckOutAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.uncheckout">
         </action>
         <action
               label="Checkin"
               class="net.sourceforge.eclipseccase.ui.actions.CheckInAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.checkin">
         </action>
         <action
               label="Refresh State"
               class="net.sourceforge.eclipseccase.ui.actions.RefreshStateAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.refresh">
         </action>
         <action
               label="Refresh State (Quick)"
               class="net.sourceforge.eclipseccase.ui.actions.RefreshStateQuickAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.refreshquick">
         </action>
         <action
               label="Checkout"
               class="net.sourceforge.eclipseccase.ui.actions.CheckOutAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.checkout">
         </action>
         <action
               label="Update"
               class="net.sourceforge.eclipseccase.ui.actions.UpdateAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.update">
         </action>
         <action
               label="Add"
               class="net.sourceforge.eclipseccase.ui.actions.AddToClearcaseAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.add">
         </action>
         <action
               label="Delete"
               class="net.sourceforge.eclipseccase.ui.actions.DeleteAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.delete">
         </action>
         <action
               label="Version Tree"
               class="net.sourceforge.eclipseccase.ui.actions.VersionTreeAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.versiontree">
         </action>
         <action
               label="Update (External)"
               class="net.sourceforge.eclipseccase.ui.actions.ExternalUpdateAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.externalupdate">
         </action>
         <action
               label="History"
               class="net.sourceforge.eclipseccase.ui.actions.HistoryAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.history">
         </action>
         <action
               label="Compare with predecessor"
               class="net.sourceforge.eclipseccase.ui.actions.CompareWithPredecessorAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.comparepredecessor">
         </action>
<!--action
               label="Predecessor"
               class="net.sourceforge.eclipseccase.ui.actions.CompareWithPredecessorInternalAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="net.sourceforge.eclipseccase.popups.internalcomparepredecessor">
         </action-->
         <action
               label="Find checkouts"
               class="net.sourceforge.eclipseccase.ui.actions.FindCheckOutsAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.findcheckouts">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Clearcase"
            visible="true"
            id="net.sourceforge.eclipseccase.ui.actionset">
         <menu
               label="&amp;Clearcase"
               id="eclipseccase_menu">
            <separator
                  name="projectGroup">
            </separator>
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
            <separator
                  name="group3">
            </separator>
         </menu>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.dissociate"
               label="Dissociat&amp;e project"
               class="net.sourceforge.eclipseccase.ui.actions.DissociateProjectAction"
               menubarPath="eclipseccase_menu/projectGroup"
               id="net.sourceforge.eclipseccase.ui.actionset.dissociate">
            <enablement>
               <and>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.associate"
               label="A&amp;ssociate project"
               class="net.sourceforge.eclipseccase.ui.actions.AssociateProjectAction"
               menubarPath="eclipseccase_menu/projectGroup"
               id="net.sourceforge.eclipseccase.ui.actionset.associate">
            <enablement>
               <and>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <not>
                     <objectState
                           name="projectPersistentProperty"
                           value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
                     </objectState>
                  </not>
               </and>
            </enablement>
         </action>
         <action
               label="Activate p&amp;lugin"
               class="net.sourceforge.eclipseccase.ui.actions.ActivatePluginAction"
               menubarPath="eclipseccase_menu/projectGroup"
               id="net.sourceforge.eclipseccase.ui.actionset.activate">
            <enablement>
               <not>
                  <pluginState
                        value="activated"
                        id="net.sourceforge.eclipseccase">
                  </pluginState>
               </not>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.update"
               label="Upda&amp;te"
               class="net.sourceforge.eclipseccase.ui.actions.UpdateAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.update">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.delete"
               label="&amp;Delete"
               class="net.sourceforge.eclipseccase.ui.actions.DeleteAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.delete">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.add"
               label="&amp;Add"
               class="net.sourceforge.eclipseccase.ui.actions.AddToClearcaseAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.add">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
<!--action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.internalcomparepredecessor"
               label="Compare with &amp;predecessor (Internal)"
               class="net.sourceforge.eclipseccase.ui.actions.CompareWithPredecessorInternalAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.internalcomparepredecessor">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action-->
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.refresh"
               label="&amp;Refresh State"
               class="net.sourceforge.eclipseccase.ui.actions.RefreshStateAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.refresh">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.refreshquick"
               label="Refresh State (&amp;Quick)"
               class="net.sourceforge.eclipseccase.ui.actions.RefreshStateQuickAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.refreshquick">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.uncheckout"
               label="&amp;Uncheckout"
               class="net.sourceforge.eclipseccase.ui.actions.UndoCheckOutAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.uncheckout">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.checkin"
               label="Check&amp;in"
               class="net.sourceforge.eclipseccase.ui.actions.CheckInAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.checkin">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.checkout"
               label="Check&amp;out"
               class="net.sourceforge.eclipseccase.ui.actions.CheckOutAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.checkout">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.externalupdate"
               label="Update (E&amp;xternal)"
               class="net.sourceforge.eclipseccase.ui.actions.ExternalUpdateAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.externalupdate">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.findcheckouts"
               label="&amp;Find checkouts"
               class="net.sourceforge.eclipseccase.ui.actions.FindCheckOutsAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.findcheckouts">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.history"
               label="&amp;History"
               class="net.sourceforge.eclipseccase.ui.actions.HistoryAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.history">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.versiontree"
               label="&amp;Version Tree"
               class="net.sourceforge.eclipseccase.ui.actions.VersionTreeAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.versiontree">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.comparepredecessor"
               label="&amp;Compare with predecessor"
               class="net.sourceforge.eclipseccase.ui.actions.CompareWithPredecessorAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.comparepredecessor">
            <enablement>
               <pluginState
                     value="activated"
                     id="net.sourceforge.eclipseccase">
               </pluginState>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Clearcase"
            description="Clearcase actions"
            id="net.sourceforge.eclipseccase.category">
      </category>
      <command
            name="Associate"
            description="Associates the selected project with the clearcase plugin"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.associate">
      </command>
      <keyBinding
            string="Alt+C Alt+S"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.associate"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Dissociate"
            description="Dissociates the selected project from the clearcase plugin"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.dissociate">
      </command>
      <keyBinding
            string="Alt+C Alt+E"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.dissociate"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Uncheckout"
            description="Cancels the checkout for the selected resources"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.uncheckout">
      </command>
      <keyBinding
            string="Alt+C Alt+U"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.uncheckout"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Checkin"
            description="Checks in th selected resources"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.checkin">
      </command>
      <keyBinding
            string="Alt+C Alt+I"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.checkin"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Refresh"
            description="Refreshes eclipse&apos;s cache of the resource&apos;s clearcase state"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.refresh">
      </command>
      <keyBinding
            string="Alt+C Alt+R"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.refresh"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Refresh Quick"
            description="Quickly refreshes eclipse&apos;s cache of the resource&apos;s clearcase state"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.refreshquick">
      </command>
      <keyBinding
            string="Alt+C Alt+Q"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.refreshquick"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Checkout"
            description="Checks out the selected resources"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.checkout">
      </command>
      <keyBinding
            string="Alt+C Alt+O"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.checkout"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Update"
            description="Updates the seletced resources (Static view only)"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.update">
      </command>
      <keyBinding
            string="Alt+C Alt+T"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.update"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Add"
            description="Adds the selected resources to clearcase"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.add">
      </command>
      <keyBinding
            string="Alt+C Alt+A"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.add"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Delete"
            description="Removes the selected resources from clearcase"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.delete">
      </command>
      <keyBinding
            string="Alt+C Alt+D"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.delete"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Version Tree"
            description="Opens the clearcase version tree browser on the slected resources (external tool)"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.versiontree">
      </command>
      <keyBinding
            string="Alt+C Alt+V"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.versiontree"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Update (External)"
            description="Updates the selected resources (external tool)"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.externalupdate">
      </command>
      <keyBinding
            string="Alt+C Alt+X"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.externalupdate"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="History"
            description="Opens the clearcase hostory browser on the selected resources (external tool)"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.history">
      </command>
      <keyBinding
            string="Alt+C Alt+H"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.history"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="Compare with predecessor"
            description="Opens the clearcase compare with predecessor tool on the selected resources (external tool)"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.comparepredecessor">
      </command>
      <keyBinding
            string="Alt+C Alt+C"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.comparepredecessor"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!--command
            name="Compare with Predecessor (Internal)"
            description="Uses the eclipse compare api to compare the selected resource with its clearcase predecessor"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.internalcomparepredecessor">
      </command>
      <keyBinding
            string="Alt+C Alt+P"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.internalcomparepredecessor"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding-->
      <command
            name="Find Checkouts"
            description="Opens the clearcase find checkouts tool on the selected resource (external tool)"
            category="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.findcheckouts">
      </command>
      <keyBinding
            string="Alt+C Alt+F"
            scope="org.eclipse.ui.globalScope"
            command="net.sourceforge.eclipseccase.ui.actionset.findcheckouts"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Clearcase"
            category="org.eclipse.team.ui.TeamPreferences"
            class="net.sourceforge.eclipseccase.ClearcasePreferencePage"
            id="net.sourceforge.eclipseccase.ClearcasePreferencePage">
      </page>
      <page
            name="Label Decorations"
            category="net.sourceforge.eclipseccase.ClearcasePreferencePage"
            class="net.sourceforge.eclipseccase.DecoratorPreferencePage"
            id="net.sourceforge.eclipseccase.DecoratorPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="Clearcase Decorator"
            state="false"
            class="net.sourceforge.eclipseccase.ui.ClearcaseDecorator"
            id="net.sourceforge.eclipseccase.ui.decorator">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Clearcase Checkouts"
            icon="icons/full/contents.gif"
            category="org.eclipse.team.ui"
            class="net.sourceforge.eclipseccase.views.CheckoutsView"
            id="net.sourceforge.eclipseccase.views.CheckoutsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            name="Clearcase Element Properties"
            class="net.sourceforge.eclipseccase.ElementPropertyPage"
            id="net.sourceforge.eclipseccase.elementPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.team.core.projectSets">
      <projectSets
            class="net.sourceforge.eclipseccase.ClearCaseProjectSetSerializer"
            id="net.sourceforge.eclipseccase.ClearcaseProvider">
      </projectSets>
   </extension>

</plugin>
