<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="net.sourceforge.eclipseccase.ui.IProjectContributions">
         <action
               label="Dissociate from clearcase"
               class="net.sourceforge.eclipseccase.ui.actions.DissociateProjectAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.dissociate">
            <enablement>
               <and>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               label="Associate with clearcase"
               class="net.sourceforge.eclipseccase.ui.actions.AssociateProjectAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.associate">
            <enablement>
               <and>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <not>
                     <objectState
                           name="projectPersistentProperty"
                           value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
                     </objectState>
                  </not>
               </and>
            </enablement>
         </action>
         <action
               label="Activate clearcase plugin"
               class="net.sourceforge.eclipseccase.ui.actions.ActivatePluginAction"
               menubarPath="team.main/projectGroup"
               id="net.sourceforge.eclipseccase.popups.activate">
            <enablement>
               <not>
                  <pluginState
                        value="activated"
                        id="net.sourceforge.eclipseccase">
                  </pluginState>
               </not>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.mapping.ResourceMapping"
            id="net.sourceforge.eclipseccase.ui.ResourceMapperContributions">
		 <enablement>
           <adapt type="org.eclipse.core.resources.mapping.ResourceMapping">
              <test property="org.eclipse.core.resources.projectPersistentProperty" args="org.eclipse.team.core.repository,net.sourceforge.eclipseccase.ClearcaseProvider" />
           </adapt>
         </enablement>
         <visibility>
            <pluginState
                  value="activated"
                  id="net.sourceforge.eclipseccase">
            </pluginState>
         </visibility>
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
         </filter>
         <action
               label="Uncheckout"
               class="net.sourceforge.eclipseccase.ui.actions.UndoCheckOutAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.uncheckout">
         </action>
         <action
               label="Checkin"
               class="net.sourceforge.eclipseccase.ui.actions.CheckInAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.checkin">
         </action>
         <action
               label="Refresh State"
               class="net.sourceforge.eclipseccase.ui.actions.RefreshStateAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.refresh">
         </action>
         <action
               label="Checkout"
               class="net.sourceforge.eclipseccase.ui.actions.CheckOutAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.checkout">
         </action>
         <action
               label="Update"
               class="net.sourceforge.eclipseccase.ui.actions.UpdateAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.update">
         </action>
         <action
               label="Add"
               class="net.sourceforge.eclipseccase.ui.actions.AddToClearcaseAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.add">
         </action>
         <action
               label="Delete"
               class="net.sourceforge.eclipseccase.ui.actions.DeleteAction"
               menubarPath="team.main/group1"
               id="net.sourceforge.eclipseccase.popups.delete">
         </action>
         <action
               label="Version Tree"
               class="net.sourceforge.eclipseccase.ui.actions.VersionTreeAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.versiontree">
         </action>
         <action
               label="Update (External)"
               class="net.sourceforge.eclipseccase.ui.actions.ExternalUpdateAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.externalupdate">
         </action>
         <action
               label="History"
               class="net.sourceforge.eclipseccase.ui.actions.HistoryAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.history">
         </action>
         <action
               label="Compare with predecessor"
               class="net.sourceforge.eclipseccase.ui.actions.CompareWithPredecessorAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.comparepredecessor">
         </action>
         <action
               label="Predecessor"
               class="net.sourceforge.eclipseccase.ui.actions.CompareWithPredecessorAction"
               menubarPath="compareWithMenu/compareWithGroup"
               id="net.sourceforge.eclipseccase.popups.comparepredecessor2">
         </action>
         <action
               label="Find checkouts"
               class="net.sourceforge.eclipseccase.ui.actions.FindCheckOutsAction"
               menubarPath="team.main/group2"
               id="net.sourceforge.eclipseccase.popups.findcheckouts">
            <enablement>
               <and>
                  <pluginState
                        value="activated"
                        id="net.sourceforge.eclipseccase">
                  </pluginState>
                  <systemProperty
                        name="osgi.os"
                        value="win32">
                  </systemProperty>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.cancelRefreshes"
               label="Cancel pending refreshes"
               class="net.sourceforge.eclipseccase.ui.actions.CancelPendingRefreshesAction"
               menubarPath="team.main/group3"
               id="net.sourceforge.eclipseccase.popups.cancelRefreshes">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Clearcase"
            visible="true"
            id="net.sourceforge.eclipseccase.ui.actionset">
         <menu
               label="&amp;Clearcase"
               id="eclipseccase_menu">
            <separator
                  name="projectGroup">
            </separator>
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
            <separator
                  name="group3">
            </separator>
         </menu>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.dissociate"
               label="Dissociat&amp;e project"
               class="net.sourceforge.eclipseccase.ui.actions.DissociateProjectAction"
               menubarPath="eclipseccase_menu/projectGroup"
               id="net.sourceforge.eclipseccase.ui.actionset.dissociate">
            <enablement>
               <and>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.associate"
               label="A&amp;ssociate project"
               class="net.sourceforge.eclipseccase.ui.actions.AssociateProjectAction"
               menubarPath="eclipseccase_menu/projectGroup"
               id="net.sourceforge.eclipseccase.ui.actionset.associate">
            <enablement>
               <and>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
                  <not>
                     <objectState
                           name="projectPersistentProperty"
                           value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider">
                     </objectState>
                  </not>
               </and>
            </enablement>
         </action>
         <action
               label="Activate p&amp;lugin"
               class="net.sourceforge.eclipseccase.ui.actions.ActivatePluginAction"
               menubarPath="eclipseccase_menu/projectGroup"
               id="net.sourceforge.eclipseccase.ui.actionset.activate">
            <enablement>
               <not>
                  <pluginState
                        value="activated"
                        id="net.sourceforge.eclipseccase">
                  </pluginState>
               </not>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.update"
               label="Upda&amp;te"
               class="net.sourceforge.eclipseccase.ui.actions.UpdateAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.update">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.delete"
               label="&amp;Delete"
               class="net.sourceforge.eclipseccase.ui.actions.DeleteAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.delete">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.add"
               label="&amp;Add"
               class="net.sourceforge.eclipseccase.ui.actions.AddToClearcaseAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.add">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.refresh"
               label="&amp;Refresh state"
               class="net.sourceforge.eclipseccase.ui.actions.RefreshStateAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.refresh">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.uncheckout"
               label="&amp;Uncheckout"
               class="net.sourceforge.eclipseccase.ui.actions.UndoCheckOutAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.uncheckout">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.checkin"
               label="Check&amp;in"
               class="net.sourceforge.eclipseccase.ui.actions.CheckInAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.checkin">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.checkout"
               label="Check&amp;out"
               class="net.sourceforge.eclipseccase.ui.actions.CheckOutAction"
               menubarPath="eclipseccase_menu/group1"
               id="net.sourceforge.eclipseccase.ui.actionset.checkout">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.externalupdate"
               label="Update (E&amp;xternal)"
               class="net.sourceforge.eclipseccase.ui.actions.ExternalUpdateAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.externalupdate">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.findcheckouts"
               label="&amp;Find checkouts"
               class="net.sourceforge.eclipseccase.ui.actions.FindCheckOutsAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.findcheckouts">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <systemProperty
                        name="osgi.os"
                        value="win32"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.history"
               label="&amp;History"
               class="net.sourceforge.eclipseccase.ui.actions.HistoryAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.history">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.versiontree"
               label="&amp;Version Tree"
               class="net.sourceforge.eclipseccase.ui.actions.VersionTreeAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.versiontree">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.comparepredecessor"
               label="&amp;Compare with predecessor"
               class="net.sourceforge.eclipseccase.ui.actions.CompareWithPredecessorAction"
               menubarPath="eclipseccase_menu/group2"
               id="net.sourceforge.eclipseccase.ui.actionset.comparepredecessor">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
         <action
               definitionId="net.sourceforge.eclipseccase.ui.actionset.cancelRefreshes"
               label="Cancel &amp;pending refreshes"
               class="net.sourceforge.eclipseccase.ui.actions.CancelPendingRefreshesAction"
               menubarPath="eclipseccase_menu/group3"
               id="net.sourceforge.eclipseccase.ui.actionset.cancelRefreshes">
            <enablement>
               <and>
                  <pluginState
                        id="net.sourceforge.eclipseccase"
                        value="activated"/>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.eclipse.team.core.repository=net.sourceforge.eclipseccase.ClearcaseProvider"/>
               </and>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Clearcase"
            description="Clearcase actions"
            id="net.sourceforge.eclipseccase.category">
      </category>
      <command
            name="Associate"
            description="Associates the selected project with the clearcase plugin"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.associate">
      </command>
      <command
            name="Dissociate"
            description="Dissociates the selected project from the clearcase plugin"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.dissociate">
      </command>
      <command
            name="Uncheckout"
            description="Cancels the checkout for the selected resources"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.uncheckout">
      </command>
      <command
            name="Checkin"
            description="Checks in th selected resources"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.checkin">
      </command>
      <command
            name="Refresh"
            description="Refreshes eclipse&apos;s cache of the resource&apos;s clearcase state"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.refresh">
      </command>
      <command
            name="Refresh Quick"
            description="Quickly refreshes eclipse&apos;s cache of the resource&apos;s clearcase state"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.refreshquick">
      </command>
      <command
            name="Checkout"
            description="Checks out the selected resources"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.checkout">
      </command>
      <command
            name="Update"
            description="Updates the seletced resources (Static view only)"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.update">
      </command>
      <command
            name="Add"
            description="Adds the selected resources to clearcase"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.add">
      </command>
      <command
            name="Delete"
            description="Removes the selected resources from clearcase"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.delete">
      </command>
      <command
            name="Version Tree"
            description="Opens the clearcase version tree browser on the slected resources (external tool)"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.versiontree">
      </command>
      <command
            name="Update (External)"
            description="Updates the selected resources (external tool)"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.externalupdate">
      </command>
      <command
            name="History"
            description="Opens the clearcase hostory browser on the selected resources (external tool)"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.history">
      </command>
      <command
            name="Compare with predecessor"
            description="Opens the clearcase compare with predecessor tool on the selected resources (external tool)"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.comparepredecessor">
      </command>
      <command
            name="Find Checkouts"
            description="Opens the clearcase find checkouts tool on the selected resource (external tool)"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.findcheckouts">
      </command>
      <command
            name="Cancel Pending Refreshes"
            description="Cancels all pending refresh state jobs"
            categoryId="net.sourceforge.eclipseccase.category"
            id="net.sourceforge.eclipseccase.ui.actionset.cancelRefreshes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.associate"
            sequence="M3+C M3+S"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.dissociate"
            sequence="M3+C M3+E"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.uncheckout"
            sequence="M3+C M3+U"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.checkin"
            sequence="M3+C M3+I"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.refresh"
            sequence="M3+C M3+R"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.refreshquick"
            sequence="M3+C M3+Q"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.checkout"
            sequence="M3+C M3+O"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.update"
            sequence="M3+C M3+T"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.add"
            sequence="M3+C M3+A"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.delete"
            sequence="M3+C M3+D"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.versiontree"
            sequence="M3+C M3+V"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.externalupdate"
            sequence="M3+C M3+X"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.history"
            sequence="M3+C M3+H"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.comparepredecessor"
            sequence="M3+C M3+C"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.findcheckouts"
            sequence="M3+C M3+F"
            schemeId="org.eclipse.ui.globalScope"/>
      <key
            commandId="net.sourceforge.eclipseccase.ui.actionset.cancelRefreshes"
            sequence="M3+C M3+Z"
            schemeId="org.eclipse.ui.globalScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%clearcasePreferences.name"
            category="org.eclipse.team.ui.TeamPreferences"
            class="net.sourceforge.eclipseccase.ui.preferences.ClearcasePreferencePage"
            id="net.sourceforge.eclipseccase.preferences">
      </page>
      <page
            name="%clearcaseDecoratorPreferences.name"
            category="net.sourceforge.eclipseccase.preferences"
            class="net.sourceforge.eclipseccase.ui.preferences.DecoratorPreferencePage"
            id="net.sourceforge.eclipseccase.preferences.decorator">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="%clearcaseDecorator.name"
            class="net.sourceforge.eclipseccase.ui.ClearcaseDecorator"
            state="true"
            id="net.sourceforge.eclipseccase.ui.decorator">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
         <description>
            %clearcaseDecorator.description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Clearcase Checkouts"
            icon="icons/full/contents.gif"
            category="org.eclipse.team.ui"
            class="net.sourceforge.eclipseccase.views.CheckoutsView"
            id="net.sourceforge.eclipseccase.views.CheckoutsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            name="Clearcase Element Properties"
            class="net.sourceforge.eclipseccase.ElementPropertyPage"
            id="net.sourceforge.eclipseccase.elementPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.team.core.projectSets">
      <projectSets
            class="net.sourceforge.eclipseccase.ClearCaseProjectSetSerializer"
            id="net.sourceforge.eclipseccase.ClearcaseProvider">
      </projectSets>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sourceforge.eclipseccase.ui.ClearcaseUIPreferencesInitializer">
      </initializer>
   </extension>

</plugin>
